In [255]:
# lab task 11
# Data Loading/ Reading
# Data Exploration
# Data Preprocess
# Train, test split
# Applying SVM

In [256]:
import pandas as pd
import numpy as np
import pickle

from sklearn.metrics import classification_report
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [257]:
# Data Loading/ Reading
import pandas as pd
df = pd.read_csv("mentalhealth_dataset.csv")
df

,Timestamp,Gender,Age,Course,YearOfStudy,CGPA,Depression,Anxiety,PanicAttack,SpecialistTreatment,SymptomFrequency_Last7Days,HasMentalHealthSupport,SleepQuality,StudyStressLevel,StudyHoursPerWeek,AcademicEngagement
0,13/7/2020,Female,24,Biotechnology,Year 3,2.38,1,0,0,0,5,0,4,5,8,2
1,13/7/2020,Female,18,Biotechnology,Year 3,4.00,0,1,0,0,0,0,4,4,13,5
2,13/7/2020,Female,25,Biotechnology,Year 3,3.68,0,0,1,0,3,0,1,2,13,1
3,13/7/2020,Female,18,Engineering,year 4,4.00,0,0,0,0,3,0,5,1,19,2
4,13/7/2020,Female,20,Engineering,year 4,2.00,1,1,0,0,0,0,2,4,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2023-07-09,Female,20,KOE,year 1,2.31,0,1,0,0,6,0,1,3,7,1
996,2023-07-09,Female,23,Engineering,year 1,3.72,1,0,0,0,3,0,4,1,12,2
997,2023-07-09,Female,19,Human Sciences,Year 2,2.00,0,0,1,0,1,0,5,4,3,1
998,2023-07-09,Female,24,Human Sciences,Year 2,3.89,1,0,1,0,5,0,5,4,13,3
999,2023-07-09,Female,20,Human Sciences,Year 2,2.46,1,0,0,0,0,0,2,5,8,1

In [258]:
# Data Exploration

In [259]:
df.head()

,Timestamp,Gender,Age,Course,YearOfStudy,CGPA,Depression,Anxiety,PanicAttack,SpecialistTreatment,SymptomFrequency_Last7Days,HasMentalHealthSupport,SleepQuality,StudyStressLevel,StudyHoursPerWeek,AcademicEngagement
0,13/7/2020,Female,24,Biotechnology,Year 3,2.38,1,0,0,0,5,0,4,5,8,2
1,13/7/2020,Female,18,Biotechnology,Year 3,4.00,0,1,0,0,0,0,4,4,13,5
2,13/7/2020,Female,25,Biotechnology,Year 3,3.68,0,0,1,0,3,0,1,2,13,1
3,13/7/2020,Female,18,Engineering,year 4,4.00,0,0,0,0,3,0,5,1,19,2
4,13/7/2020,Female,20,Engineering,year 4,2.00,1,1,0,0,0,0,2,4,3,2

In [260]:
df.tail()

,Timestamp,Gender,Age,Course,YearOfStudy,CGPA,Depression,Anxiety,PanicAttack,SpecialistTreatment,SymptomFrequency_Last7Days,HasMentalHealthSupport,SleepQuality,StudyStressLevel,StudyHoursPerWeek,AcademicEngagement
995,2023-07-09,Female,20,KOE,year 1,2.31,0,1,0,0,6,0,1,3,7,1
996,2023-07-09,Female,23,Engineering,year 1,3.72,1,0,0,0,3,0,4,1,12,2
997,2023-07-09,Female,19,Human Sciences,Year 2,2.00,0,0,1,0,1,0,5,4,3,1
998,2023-07-09,Female,24,Human Sciences,Year 2,3.89,1,0,1,0,5,0,5,4,13,3
999,2023-07-09,Female,20,Human Sciences,Year 2,2.46,1,0,0,0,0,0,2,5,8,1

In [261]:
print(f"Number of Rows: {df.shape[0]} \nNumber of Columns: {df.shape[1]}")

Number of Rows: 1000
Number of Columns: 16

In [262]:
df.describe()

,Age,CGPA,Depression,Anxiety,PanicAttack,SpecialistTreatment,SymptomFrequency_Last7Days,HasMentalHealthSupport,SleepQuality,StudyStressLevel,StudyHoursPerWeek,AcademicEngagement
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.0000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,21.402000,3.122530,0.483000,0.474000,0.458000,0.067000,3.4980,0.067000,2.983000,3.045000,9.746000,3.055000
std,2.373611,0.810961,0.499961,0.499573,0.498482,0.250147,2.3081,0.250147,1.417999,1.417386,5.651497,1.422673
min,18.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,19.000000,2.250000,0.000000,0.000000,0.000000,0.000000,1.7500,0.000000,2.000000,2.000000,5.000000,2.000000
50%,21.000000,3.250000,0.000000,0.000000,0.000000,0.000000,3.0000,0.000000,3.000000,3.000000,9.000000,3.000000
75%,24.000000,4.000000,1.000000,1.000000,1.000000,0.000000,6.0000,0.000000,4.000000,4.000000,15.000000,4.000000
max,25.000000,4.000000,1.000000,1.000000,1.000000,1.000000,7.0000,1.000000,5.000000,5.000000,19.000000,5.000000

In [263]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timestamp                   1000 non-null   object
 1   Gender                      1000 non-null   object
 2   Age                         1000 non-null   int64
 3   Course                      1000 non-null   object
 4   YearOfStudy                 1000 non-null   object
 5   CGPA                        1000 non-null   float64
 6   Depression                  1000 non-null   int64
 7   Anxiety                     1000 non-null   int64
 8   PanicAttack                 1000 non-null   int64
 9   SpecialistTreatment         1000 non-null   int64
 10  SymptomFrequency_Last7Days  1000 non-null   int64
 11  HasMentalHealthSupport      1000 non-null   int64
 12  SleepQuality                1000 non-null   int64
 13  StudyStressLevel            1000 non-null   int64
 14  StudyHoursPerWeek           1000 non-null   int64
 15  AcademicEngagement          1000 non-null   int64
dtypes: float64(1), int64(11), object(4)
memory usage: 125.1+ KB

In [264]:
df.dtypes

Timestamp                      object
Gender                         object
Age                             int64
Course                         object
YearOfStudy                    object
CGPA                          float64
Depression                      int64
Anxiety                         int64
PanicAttack                     int64
SpecialistTreatment             int64
SymptomFrequency_Last7Days      int64
HasMentalHealthSupport          int64
SleepQuality                    int64
StudyStressLevel                int64
StudyHoursPerWeek               int64
AcademicEngagement              int64
dtype: object

In [265]:
df.count()

Timestamp                     1000
Gender                        1000
Age                           1000
Course                        1000
YearOfStudy                   1000
CGPA                          1000
Depression                    1000
Anxiety                       1000
PanicAttack                   1000
SpecialistTreatment           1000
SymptomFrequency_Last7Days    1000
HasMentalHealthSupport        1000
SleepQuality                  1000
StudyStressLevel              1000
StudyHoursPerWeek             1000
AcademicEngagement            1000
dtype: int64

In [266]:
df.isnull().sum()

Timestamp                     0
Gender                        0
Age                           0
Course                        0
YearOfStudy                   0
CGPA                          0
Depression                    0
Anxiety                       0
PanicAttack                   0
SpecialistTreatment           0
SymptomFrequency_Last7Days    0
HasMentalHealthSupport        0
SleepQuality                  0
StudyStressLevel              0
StudyHoursPerWeek             0
AcademicEngagement            0
dtype: int64

In [267]:
df.duplicated().sum()

np.int64(0)

In [268]:
for i in df.columns:
    print(i)

Timestamp
Gender
Age
Course
YearOfStudy
CGPA
Depression
Anxiety
PanicAttack
SpecialistTreatment
SymptomFrequency_Last7Days
HasMentalHealthSupport
SleepQuality
StudyStressLevel
StudyHoursPerWeek
AcademicEngagement

In [269]:
df['Course'].unique()

array(['Biotechnology', 'Engineering', 'Communication ',
       'Diploma Nursing', 'Pendidikan Islam ', 'Radiography',
       'psychology', 'Fiqh fatwa ', 'BIT', 'DIPLOMA TESL', 'Koe', 'KOE',
       'BENL', 'Fiqh', 'Islamic Education', 'BCS', 'Nursing ',
       'Pendidikan Islam', 'Biomedical science', 'Islamic education',
       'Laws', 'Mathemathics', 'Pendidikan islam', 'Human Resources',
       'Irkhs', 'Psychology', 'KENMS', 'Accounting ', 'ENM',
       'Marine science', 'Banking Studies', 'Business Administration',
       'Law', 'KIRKHS', 'Usuluddin ', 'TAASL', 'Engine', 'koe', 'Kirkhs',
       'CTS', 'engin', 'Econs', 'MHSC', 'Malcom', 'Kop',
       'Human Sciences ', 'ALA', 'Benl', 'IT'], dtype=object)

In [270]:
df.nunique()

Timestamp                      16
Gender                          2
Age                             8
Course                         49
YearOfStudy                     7
CGPA                          187
Depression                      2
Anxiety                         2
PanicAttack                     2
SpecialistTreatment             2
SymptomFrequency_Last7Days      8
HasMentalHealthSupport          2
SleepQuality                    5
StudyStressLevel                5
StudyHoursPerWeek              19
AcademicEngagement              5
dtype: int64

In [271]:
# Data Preprocess

In [272]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timestamp                   1000 non-null   object
 1   Gender                      1000 non-null   object
 2   Age                         1000 non-null   int64
 3   Course                      1000 non-null   object
 4   YearOfStudy                 1000 non-null   object
 5   CGPA                        1000 non-null   float64
 6   Depression                  1000 non-null   int64
 7   Anxiety                     1000 non-null   int64
 8   PanicAttack                 1000 non-null   int64
 9   SpecialistTreatment         1000 non-null   int64
 10  SymptomFrequency_Last7Days  1000 non-null   int64
 11  HasMentalHealthSupport      1000 non-null   int64
 12  SleepQuality                1000 non-null   int64
 13  StudyStressLevel            1000 non-null   int64
 14  StudyHoursPerWeek           1000 non-null   int64
 15  AcademicEngagement          1000 non-null   int64
dtypes: float64(1), int64(11), object(4)
memory usage: 125.1+ KB

In [273]:
def fillNaObject(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['Timestamp','Course','YearOfStudy']
fillNaObject(columns)

In [274]:
df.head(10)

,Timestamp,Gender,Age,Course,YearOfStudy,CGPA,Depression,Anxiety,PanicAttack,SpecialistTreatment,SymptomFrequency_Last7Days,HasMentalHealthSupport,SleepQuality,StudyStressLevel,StudyHoursPerWeek,AcademicEngagement
0,13/7/2020,Female,24,Biotechnology,Year 3,2.38,1,0,0,0,5,0,4,5,8,2
1,13/7/2020,Female,18,Biotechnology,Year 3,4.00,0,1,0,0,0,0,4,4,13,5
2,13/7/2020,Female,25,Biotechnology,Year 3,3.68,0,0,1,0,3,0,1,2,13,1
3,13/7/2020,Female,18,Engineering,year 4,4.00,0,0,0,0,3,0,5,1,19,2
4,13/7/2020,Female,20,Engineering,year 4,2.00,1,1,0,0,0,0,2,4,3,2
5,13/7/2020,Female,19,Engineering,year 4,4.00,0,0,1,0,4,0,4,1,15,3
6,13/7/2020,Female,25,Communication,Year 2,2.00,1,1,0,0,0,0,1,2,1,2
7,13/7/2020,Female,24,Diploma Nursing,year 2,2.72,0,0,0,0,3,0,3,5,8,2
8,13/7/2020,Female,24,Pendidikan Islam,Year 2,2.30,0,0,0,0,5,0,4,4,5,3
9,13/7/2020,Female,19,Engineering,year 1,4.00,1,1,0,0,5,0,4,2,16,3

In [275]:
def fillNaInt(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['Depression','Anxiety','PanicAttack','HasMentalHealthSupport']
fillNaInt(columns)

In [276]:
def fillNaFloat(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mean())

columns = ['CGPA']
fillNaFloat(columns)

In [277]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timestamp                   1000 non-null   object
 1   Gender                      1000 non-null   object
 2   Age                         1000 non-null   int64
 3   Course                      1000 non-null   object
 4   YearOfStudy                 1000 non-null   object
 5   CGPA                        1000 non-null   float64
 6   Depression                  1000 non-null   int64
 7   Anxiety                     1000 non-null   int64
 8   PanicAttack                 1000 non-null   int64
 9   SpecialistTreatment         1000 non-null   int64
 10  SymptomFrequency_Last7Days  1000 non-null   int64
 11  HasMentalHealthSupport      1000 non-null   int64
 12  SleepQuality                1000 non-null   int64
 13  StudyStressLevel            1000 non-null   int64
 14  StudyHoursPerWeek           1000 non-null   int64
 15  AcademicEngagement          1000 non-null   int64
dtypes: float64(1), int64(11), object(4)
memory usage: 125.1+ KB

In [278]:
def convertFloattoInt(cols):
    for i in cols:
        df[i] = df[i].astype('int64')

columns = ['CGPA']
convertFloattoInt(columns)

In [279]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timestamp                   1000 non-null   object
 1   Gender                      1000 non-null   object
 2   Age                         1000 non-null   int64
 3   Course                      1000 non-null   object
 4   YearOfStudy                 1000 non-null   object
 5   CGPA                        1000 non-null   int64
 6   Depression                  1000 non-null   int64
 7   Anxiety                     1000 non-null   int64
 8   PanicAttack                 1000 non-null   int64
 9   SpecialistTreatment         1000 non-null   int64
 10  SymptomFrequency_Last7Days  1000 non-null   int64
 11  HasMentalHealthSupport      1000 non-null   int64
 12  SleepQuality                1000 non-null   int64
 13  StudyStressLevel            1000 non-null   int64
 14  StudyHoursPerWeek           1000 non-null   int64
 15  AcademicEngagement          1000 non-null   int64
dtypes: int64(12), object(4)
memory usage: 125.1+ KB

In [280]:
df.drop('SpecialistTreatment', axis=1, inplace=True)
df.drop('PanicAttack', axis=1, inplace=True)
df.drop('HasMentalHealthSupport', axis=1, inplace=True)

In [281]:

df_encoded = df.copy()

In [282]:
def convertObjtoInt(cols):
    for i in cols:
        datalabelEncoder = LabelEncoder()
        df_encoded[i] = datalabelEncoder.fit_transform(df[i])

columns = ['Course','YearOfStudy', 'Gender']
convertObjtoInt(columns)

In [283]:
df_encoded.to_csv(r'encoded-data.csv', index = False, header = True)

In [284]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timestamp                   1000 non-null   object
 1   Gender                      1000 non-null   int64
 2   Age                         1000 non-null   int64
 3   Course                      1000 non-null   int64
 4   YearOfStudy                 1000 non-null   int64
 5   CGPA                        1000 non-null   int64
 6   Depression                  1000 non-null   int64
 7   Anxiety                     1000 non-null   int64
 8   SymptomFrequency_Last7Days  1000 non-null   int64
 9   SleepQuality                1000 non-null   int64
 10  StudyStressLevel            1000 non-null   int64
 11  StudyHoursPerWeek           1000 non-null   int64
 12  AcademicEngagement          1000 non-null   int64
dtypes: int64(12), object(1)
memory usage: 101.7+ KB

In [285]:
df_encoded.head()

,Timestamp,Gender,Age,Course,YearOfStudy,CGPA,Depression,Anxiety,SymptomFrequency_Last7Days,SleepQuality,StudyStressLevel,StudyHoursPerWeek,AcademicEngagement
0,13/7/2020,0,24,8,2,2,1,0,5,4,5,8,2
1,13/7/2020,0,18,8,2,4,0,1,0,4,4,13,5
2,13/7/2020,0,25,8,2,3,0,0,3,1,2,13,1
3,13/7/2020,0,18,17,6,4,0,0,3,5,1,19,2
4,13/7/2020,0,20,17,6,2,1,1,0,2,4,3,2

In [286]:
# Test Train Split

In [287]:
X = df_encoded.drop('Timestamp', axis=1)  # Features
y = df_encoded['Timestamp']

In [288]:
# Split the data into train and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape
X_test.shape
y_train.shape
y_test.shape

(200,)

In [289]:
# Applying SVM

In [290]:
# Train the SVM Classifier
from sklearn import svm
classifier = svm.SVC(kernel='linear', gamma='auto', C=2)
classifier.fit(X_train, y_train)

# Make Predictions
y_predict = classifier.predict(X_test)

In [291]:
# Model Evaluation
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
accuracy = accuracy_score(y_test, y_predict)
print(f"Accuracy: {accuracy}")

Accuracy: 0.165

In [292]:
# Detailed metrics
print("Classification Report:")
print(classification_report(y_test, y_predict))

# Confusion Matrix
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_predict))

Classification Report:
              precision    recall  f1-score   support

   13/7/2020       0.00      0.00      0.00         8
   13/7/2021       0.00      0.00      0.00        16
   13/7/2022       0.00      0.00      0.00        14
   13/7/2023       0.00      0.00      0.00         7
   18/7/2021       0.00      0.00      0.00         0
   18/7/2023       0.00      0.00      0.00         1
  2020-07-08       0.14      0.18      0.16        34
  2020-07-09       0.00      0.00      0.00         3
  2021-07-08       0.20      0.35      0.26        34
  2021-07-09       0.00      0.00      0.00         1
  2022-07-08       0.14      0.16      0.15        38
  2022-07-09       0.00      0.00      0.00         4
  2023-07-08       0.16      0.24      0.19        38
  2023-07-09       0.00      0.00      0.00         2

    accuracy                           0.17       200
   macro avg       0.05      0.07      0.05       200
weighted avg       0.12      0.17      0.14       200

Confusion Matrix:
[[ 0  0  0  0  0  0  2  0  2  0  0  0  4  0]
 [ 0  0  0  0  0  0  1  0  6  0  5  0  4  0]
 [ 0  0  0  0  0  0  1  0  7  0  3  0  3  0]
 [ 0  0  0  0  0  0  2  0  1  0  2  0  2  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  1  0  0  0]
 [ 0  0  0  0  0  1  6  0 11  0  8  0  8  0]
 [ 0  0  0  0  0  0  2  0  0  0  1  0  0  0]
 [ 0  0  0  0  0  0  6  0 12  0  7  0  9  0]
 [ 0  0  0  0  0  0  0  0  1  0  0  0  0  0]
 [ 0  0  0  0  0  0  9  0  8  0  6  0 15  0]
 [ 0  0  0  0  1  0  1  0  1  0  1  0  0  0]
 [ 0  0  0  0  0  0 12  0 10  0  7  0  9  0]
 [ 0  0  0  0  0  0  0  0  0  0  1  0  1  0]]

c:\Users\Muhammad Haseeb\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\Muhammad Haseeb\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\Muhammad Haseeb\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\Muhammad Haseeb\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\Muhammad Haseeb\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\Muhammad Haseeb\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))